# Ne pas ajouter les résultats du make.
*.out
*.out.map
*.map
*.o
*.ee.hex
*.d
*.bin
*.hex
*.a

# Pour KDevelop
*.kdev_include_paths
*.kdev4

#Dossiers doxygen
lib/doxygen/doc/*
projet/src/doxygen/doc/*
projet/gas/doxygen/doc/*