# Ne pas ajouter les résultats du make.
*.out
*.out.map
*.map
*.o
*.ee.hex
*.d
*.bin
*.hex
*.a

# Pour KDevelop et kate
*.kdev_include_paths
*.kdev4
*.kate-swp

#Doxygen
lib/doxygen/doc/*
projet/src/doxygen/doc/*
projet/gas/doxygen/doc/*
*.tag

#Autres ignorés
*.bak
*.old